@font-face {
	font-family: 'apercu';
	src: url('fonts/apercu_light_016.eot');
	src: local('☺'), url('fonts/apercu_light_016.woff') format('woff'), url('fonts/apercu_light_016.ttf') format('truetype'), url('fonts/apercu_light_016.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'apercu-medium';
  src: url('fonts/Apercu-Medium.eot');/* IE9 Compat Modes */
  src: local('☺'), url('fonts/Apercu-Medium.woff2') format('woff2'), url('fonts/Apercu-Medium.woff') format('woff'), url('fonts/Apercu-Medium.ttf') format('truetype'), url('fonts/Apercu-Medium.svg#Apercu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'dutch';
  src: url('fonts/Dutch 801 Roman Headline BT.eot');
  src: local('☺'), url('fonts/Dutch 801 Roman Headline BT.woff') format('woff'), url('fonts/Dutch 801 Roman Headline BT.ttf') format('truetype'), url('fonts/Dutch 801 Roman Headline BT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



